<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Search</title>
    <meta name="author" content="David Urbansky">

    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="css/styles.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Caveat&family=Indie+Flower&family=Josefin+Sans:ital,wght@0,300;0,400;1,700&family=Poppins:wght@200;400;600;900&display=swap"
            rel="stylesheet">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- tracking script for opensearch.cc, comment out for self-hosting -->
    <script defer data-domain="opensearch.cc" src="https://plausible.io/js/script.js"></script>
</head>

<body>
<div id="main">
    <header>
        <div id="logo">
            <img src="img/o.svg" :class="{'rotating':loading}"><img src="img/pen-search.svg">
        </div>
        <div class="search-bar">
            <input type="search" v-model="query" @keyup.enter="search">
            <button @click="randomSearch"><img src="img/random.svg"/></button>
            <button @click="search"><img src="img/search-o.svg"/></button>
        </div>
        <div v-if="searchLog" id="search-log">
            {{ searchLog }}
        </div>
    </header>
    <main>
        <img v-if="loading" src="img/loading.gif"/>
        <div v-else-if="dynamicComponent">
            <component :is="dynamicComponent"></component>
        </div>
    </main>
    <footer>
        <hr>
        This experimental search is powered by free APIs and artificial intelligence. If you have an API, you can
        contribute to the <a href="https://github.com/ddsky/open-search">Open Search project</a>.
    </footer>
</div>

<script>
    // if true https and wss will be used, for localhost, probably this should be false
    // prod:
    const SECURE = true;
    const API_URL = 'api.opensearch.cc';
    // dev:
    // const SECURE = false;
    // const API_URL = 'localhost:4567';
    const app = Vue.createApp({
        data() {
            return {
                // search via 'http' api or 'websocket' API
                searchMode: 'http',
                socket: null,
                dynamicComponent: null,
                loading: false,
                query: '',
                searchLog: null,
                exampleQueries: [
                    'weather in London, UK tomorrow',
                    'tell me a random cat fact',
                    'show me a dog meme',
                    'show me drinks I can make with gin',
                    'chicken soup recipes',
                    'muffin recipes',
                    'tell me something wholesome',
                    'tell me a dad joke',
                    'tell me a chuck norris joke',
                    'find books about climate change',
                    'what is todays calendar?',
                    'show me a comic',
                    'whats the bitcoin price now?',
                    'what\'s the gender of people called Ashley?',
                    'what is behind the zip code 01187 in Germany?',
                    'when is the next spacex launch',
                    'when is sunrise in Tokyo, Japan?',
                    'look for universities named technical university',
                    'random quote please',
                    'find me a name for a baby boy',
                    'what do groundhogs pretend for this year',
                    'what has happened in London recently?',
                    'best games for batman fans',
                    'wild west shooters'
                ]
            }
        },
        mounted() {
            let websocketUrl = API_URL + "/socket";
            if (SECURE) {
                websocketUrl = 'wss://' + websocketUrl;
            } else {
                websocketUrl = 'ws://' + websocketUrl;
            }
            this.socket = new WebSocket(websocketUrl);

            this.socket.onopen = (event) => {
                console.log('connected to websocket, switching to websocket mode');
                this.searchMode = 'websocket';
            };

            this.socket.onmessage = (event) => {
                console.log(event.data);
                const messageContent = event.data;
                if (messageContent.indexOf('<') < 0) {
                    this.addLogMessage(messageContent);
                } else {
                    this.parseHtmlResult(messageContent);
                    this.loading = false;
                }
            };
        },
        methods: {
            sendMessageOverSocket() {
                this.socket.send(this.query);
            },
            addLogMessage(message) {
                if (this.searchLog == null) {
                    this.searchLog = message;
                } else {
                    this.searchLog += ', ' + message;
                }
            },
            randomSearch() {
                // pick a random query from the exampleQueries array
                this.query = this.exampleQueries[Math.floor(Math.random() * this.exampleQueries.length)];
                this.search();
            },
            search() {
                this.loading = true;
                this.searchLog = null;
                if (this.searchMode == 'websocket' && this.socket.readyState == 1) {
                    this.searchWebSocket();
                } else {
                    this.searchHttp();
                }
            },
            // search via the websocket API
            searchWebSocket() {
                this.sendMessageOverSocket();
            },
            // search via the http API
            searchHttp() {
                // axios.get('http://localhost:4567/search?query=' + encodeURIComponent(this.query))
                let httpRequestUrl = API_URL + '/search?query=' + encodeURIComponent(this.query);
                if (SECURE) {
                    httpRequestUrl = 'https://' + httpRequestUrl;
                } else {
                    httpRequestUrl = 'http://' + httpRequestUrl;
                }
                axios.get(httpRequestUrl)
                    .then(response => {
                        this.parseHtmlResult(response.data);
                    })
                    .catch(error => {
                        console.error(error);
                    }).finally(() => {
                    this.loading = false;
                })
            },
            parseHtmlResult(messageContent) {
                let startPos = messageContent.indexOf('<div id="app">') + 14;
                const template = messageContent.substring(startPos, messageContent.indexOf('<script>', startPos) - 8);
                startPos = messageContent.indexOf('this.jsonData=') + 14
                const jsonData = messageContent.substring(messageContent.indexOf('this.jsonData=') + 14, messageContent.indexOf('};', startPos) + 1);
                console.log(template);
                console.log(jsonData);
                console.log(JSON.parse(jsonData));
                this.dynamicComponent = this.createDynamicComponent(template, JSON.parse(jsonData));
            },
            createDynamicComponent(template, jsonData) {
                return {
                    // template: template,
                    template: template,
                    data() {
                        return {
                            jsonData: jsonData
                        };
                    }
                };
            }
        }
    });

    app.mount('#main');
</script>

</body>

</html>